@charset "ISO-8859-1";

.center {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  
}
.table{
	margin-left: auto;
	margin-right: auto;
}

input{
	margin-bottom: 10px;
}

.border{
	border: 1px solid black;
	padding-top: 10px;
	margin-bottom: 10px;
}